<%= form_with(url: multicriteria_evaluation_path, method: :get, local: false) do %>
	<div class="table-responsive">
		<table class="table">
			<thead>
			<tr>
				<th></th> <!-- Empty cell in the top-left corner -->
				<th>x1</th>
				<th>x2</th>
				<th>x3</th>
				<th>x4</th>
			</tr>
			</thead>
			<tbody>
			<% 9.times do | i | %>
				<tr>
					<td><strong>K <%= i + 1 %></strong></td> <!-- Header for each row -->
					<% 4.times do | j | %>
						<td><%= multicriteria_input(j, @inputs[i], @data_1_k[i][j]) %></td>
					<% end %>
				</tr>
			<% end %>
			</tbody>
		</table>
	</div>
	<div class="table-responsive">
		<table class="table">
			<thead>
			<tr>
				<% 9.times.each do | i | %>
					<th><strong>P <%= i + 1 %></strong></th>
				<% end %>
			</tr>
			</thead>
			<tbody>
			<tr>
				<% 9.times do | i | %>
					<td><%= text_field_tag "evaluation[p][]", @data_1_p[i], class: "form-control", type: :text %></td>
				<% end %>
			</tr>
			</tbody>
		</table>
	</div>
	<div class="row mb-3">
		<div class="col-6">
			<div class="text-center">
				<label for="evaluation[convolution]">
					Згортка
				</label>
				<%= select_tag "evaluation[convolution]", options_for_select([["песимістична", 0], ["обережна", 1], ["середня", 2], ["оптимістична", 3],]), class: "form-control" %>
			</div>
		</div>
		<div class="col-6">
			<div class="text-center">
				<label for="evaluation[method]">
					Підхід
				</label>
				<%= select_tag "evaluation[method]", options_for_select([["Перший", 0], ["Другий", 1]]), class: "form-control" %>
			</div>
		</div>
	</div>

	<div class="mx-auto text-center">
		<input class="btn btn-primary" style="width: 33%" type="submit" value="Оцінити ефективність"/>
	</div>
<% end %>

<div id="effectiveness_results" class="pt-3" style="display: none">
	<div>
		<div class="container-fluid">
			<div class="card">
				<div class="card-header py-3">
					<div class="text-start" style="margin: 0px;padding: 5px 15px;">
						<p class="text-primary m-0 fw-bold">Отримані дані по стартапу згідно першого рівня</p>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="table-responsive">
							<table id="ipi-table" class="table table-striped table tablesorter">
								<thead class="thead-dark">
								<tr>
									<th class="text-center">Групи критеріїв</th>
									<th class="text-center">Бальна оцінка</th>
									<th class="text-center">Функція належності бальної оцінки</th>
									<th class="text-center filter-false sorter-false">"Бажані значення" Т</th>
									<th class="text-center filter-false sorter-false">Функція належності "бажаних значень" α</th>
								</tr>
								</thead>
								<tbody class="text-center" id="first_level_effectiveness_results"></tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="pt-3">
		<div class="container-fluid">
			<div class="card">
				<div class="card-header py-3">
					<div class="text-start" style="margin: 0px;padding: 5px 15px;">
						<p class="text-primary m-0 fw-bold">Отримані дані по стартапу згідно другого рівня</p>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="table-responsive">
							<table id="ipi-table" class="table table-striped table tablesorter">
								<thead class="thead-dark">
								<tr>
									<th class="text-center">Групи критеріїв</th>
									<th class="text-center">Отриманий терм</th>
									<th class="text-center">Достовірність терму (значення функції належності)</th>
									<th class="text-center filter-false sorter-false">Побажання значення терму ОПР</th>
								</tr>
								</thead>
								<tbody class="text-center" id="second_level_effectiveness_results"></tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="pt-3">
		<div class="container-fluid">
			<div class="card">
				<div class="card-header py-3">
					<div class="text-start" style="margin: 0px;padding: 5px 15px;">
						<p class="text-primary m-0 fw-bold">Значення оцінок по групах критеріїв</p>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="table-responsive">
							<table id="ipi-table" class="table table-striped table tablesorter">
								<thead class="thead-dark">
								<tr>
									<th class="text-center">Групи критеріїв</th>
									<th class="text-center">Отримана оцінка</th>
								</tr>
								</thead>
								<tbody class="text-center" id="third_level_effectiveness_results"></tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="pt-3 pb-5">
		<div class="container-fluid">
			<div class="card">
				<div class="card-header py-3">
					<div class="text-start" style="margin: 0px;padding: 5px 15px;">
						<p class="text-primary m-0 fw-bold">Агрегована та лінгвістична оцінка</p>
					</div>
				</div>
				<div class="row" id="final_level_effectiveness_results">
				</div>
			</div>
		</div>
	</div>
</div>