<%= form_with(url: multicriteria_evaluation_path, method: :get, local: false) do %>
	<%= render "multicriteria_instructions" %>
	<div class="table-responsive">
		<table class="table">
			<thead>
			<tr>
				<th></th> <!-- Empty cell in the top-left corner -->
				<th class="text-center" data-bs-toggle="tooltip" title="Альтернатива 1">x1</th>
				<th class="text-center" data-bs-toggle="tooltip" title="Альтернатива 2">x2</th>
				<th class="text-center" data-bs-toggle="tooltip" title="Альтернатива 3">x3</th>
				<th class="text-center" data-bs-toggle="tooltip" title="Альтернатива 4">x4</th>
				<th class="text-center multicriteria-hideable-th" hidden="hidden" data-bs-toggle="tooltip" title='Точка "задоволення вимог"'>T</th>
			</tr>
			</thead>
			<tbody>
			<% 9.times do | i | %>
				<tr>
					<td class="first-column" data-bs-toggle="tooltip" title="<%= @hints[0][i] %>">
						<strong>K <%= i + 1 %> (<%= @data_1_descriptions[i] %>)</strong>
					</td> <!-- Header for each row -->
					<% 4.times do | j | %>
						<td><%= multicriteria_input("k#{i + 1}", @inputs[i], @data_1_k[i][j]) %></td>
					<% end %>
					<td class="multicriteria-hideable-td" hidden="hidden"><%= multicriteria_input("t", @inputs[i], @data_1_t[i]) %></td>
				</tr>
			<% end %>
			</tbody>
		</table>
	</div>
	<div class="table-responsive">
		<table class="table">
			<thead>
			<tr>
				<% 9.times.each do | i | %>
					<th data-bs-toggle="tooltip" title="Вагомість критерію <%= i + 1 %>"><strong>P <%= i + 1 %></strong></th>
				<% end %>
			</tr>
			</thead>
			<tbody>
			<tr>
				<% 9.times do | i | %>
					<td><%= text_field_tag "evaluation[p][]", @data_1_p[i], class: "form-control", type: :text %></td>
				<% end %>
			</tr>
			</tbody>
		</table>
	</div>
	<div class="row mb-3">
		<div class="col-6">
			<div class="text-center">
				<label for="evaluation[convolution]">
					Згортка
				</label>
				<%= select_tag "evaluation[convolution]",
				               options_for_select([["песимістична", 0], ["обережна", 1], ["середня", 2], ["оптимістична", 3],]),
				               class: "form-control", "data-bs-toggle": "tooltip",
				               title: "Вибір згортки, за якою будуть виконуватись обрахунки" %>
			</div>
		</div>
		<div class="col-6">
			<div class="text-center">
				<label for="evaluation[method]">
					Підхід
				</label>
				<%= select_tag "evaluation[method]",
				               options_for_select([["Перший", 0], ["Другий", 1]]), class: "form-control",
				               onchange: "changeMethod(this);", "data-bs-toggle": "tooltip",
				               title: "Вибір підходу, за яким будуть проводитись обрахунки" %>
			</div>
		</div>
	</div>

	<div class="mx-auto text-center">
		<input class="btn btn-primary" style="width: 33%" type="submit" value="Отримати результат"/>
	</div>
<% end %>

<div id="multicriteria_results" class="py-3">
</div>