<%= form_with(url: risk_evaluation_url, method: :get, local: false) do %>
  <div class="table-responsive pt-3">
    <div class="row">
      <div class="col-3">
        <h5 class="text-center">Операційні ризики</h5>
        <% 9.times do | i | %>
          <div class="row">
            <div class="col-2">
              <p>K<%= i %></p>
            </div>
            <div class="col-5">
              <%= text_field_tag "evaluation[k1][#{i}][]", @data_2[0][i][0], class: 'form-control' %>
            </div>
            <div class="col-5">
              <%= text_field_tag "evaluation[k1][#{i}][]", @data_2[0][i][1], class: 'form-control', type: :number %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-3">
        <h5 class="text-center">Інвестиційні ризики</h5>
        <% 5.times do | i | %>
          <div class="row">
            <div class="col-2">
              <p>K<%= i %></p>
            </div>
            <div class="col-5">
              <%= text_field_tag "evaluation[k2][#{i}][]", @data_2[1][i][0], class: 'form-control' %>
            </div>
            <div class="col-5">
              <%= text_field_tag "evaluation[k2][#{i}][]", @data_2[1][i][1], class: 'form-control', type: :number %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-3">
        <h5 class="text-center">Операційні ризики</h5>
        <% 5.times do | i | %>
          <div class="row">
            <div class="col-2">
              <p>K<%= i %></p>
            </div>
            <div class="col-5">
              <%= text_field_tag "evaluation[k3][#{i}][]", @data_2[2][i][0], class: 'form-control' %>
            </div>
            <div class="col-4">
              <%= text_field_tag "evaluation[k3][#{i}][]", @data_2[2][i][1], class: 'form-control', type: :number %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-3">
        <h5 class="text-center">Ризики інноваційної діяльності</h5>
        <% 5.times do | i | %>
          <div class="row">
            <div class="col-2">
              <p>K<%= i %></p>
            </div>
            <div class="col-5">
              <%= text_field_tag "evaluation[k4][#{i}][]", @data_2[3][i][0], class: 'form-control' %>
            </div>
            <div class="col-5">
              <%= text_field_tag "evaluation[k4][#{i}][]", @data_2[3][i][1], class: 'form-control', type: :number %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="mx-auto text-center">
    <input class="btn btn-primary" style="width: 33%" type="submit"/>
  </div>
<% end %>
<div id="results" class="pt-3" style="display: none">
  <div id="first_level">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header py-3">
          <div class="text-start" style="margin: 0px;padding: 5px 15px;">
            <p class="text-primary m-0 fw-bold">Отримані дані по стартапу згідно першого рівня</p>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="table-responsive">
              <table id="ipi-table" class="table table-striped table tablesorter">
                <thead class="thead-dark">
                <tr>
                  <th class="text-center">Групи критеріїв</th>
                  <th class="text-center">Бальна оцінка</th>
                  <th class="text-center">Функція належності бальної оцінки</th>
                  <th class="text-center filter-false sorter-false">"Бажані значення" Т</th>
                  <th class="text-center filter-false sorter-false">Функція належності "бажаних значень" α</th>
                </tr>
                </thead>
                <tbody class="text-center" id="first_level_results"></tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pt-3" id="second_level">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header py-3">
          <div class="text-start" style="margin: 0px;padding: 5px 15px;">
            <p class="text-primary m-0 fw-bold">Отримані дані по стартапу згідно другого рівня</p>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="table-responsive">
              <table id="ipi-table" class="table table-striped table tablesorter">
                <thead class="thead-dark">
                <tr>
                  <th class="text-center">Групи критеріїв</th>
                  <th class="text-center">Отриманий терм</th>
                  <th class="text-center">Достовірність терму (значення функції належності)</th>
                  <th class="text-center filter-false sorter-false">Побажання значення терму ОПР</th>
                </tr>
                </thead>
                <tbody class="text-center" id="second_level_results"></tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pt-3" id="third_level">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header py-3">
          <div class="text-start" style="margin: 0px;padding: 5px 15px;">
            <p class="text-primary m-0 fw-bold">Значення оцінок по групах критеріїв</p>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="table-responsive">
              <table id="ipi-table" class="table table-striped table tablesorter">
                <thead class="thead-dark">
                <tr>
                  <th class="text-center">Групи критеріїв</th>
                  <th class="text-center">Отримана оцінка</th>
                </tr>
                </thead>
                <tbody class="text-center" id="third_level_results"></tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pt-3 pb-5" id="final_level">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header py-3">
          <div class="text-start" style="margin: 0px;padding: 5px 15px;">
            <p class="text-primary m-0 fw-bold">Агрегована та лінгвістична оцінка</p>
          </div>
        </div>
        <div class="row" id="final_level_results">
        </div>
      </div>
    </div>
  </div>
</div>