document.getElementById("LoadingPage").style.display = "flex";

setTimeout(function () {
    document.getElementById("LoadingPage").style.display = "none";

    document.querySelector("#first_level_risk_results").innerHTML = `
        <% counter = 0 %>
        <% @res_term_estimate.each.with_index do |v, index| %>
            <% k, aggregated_assessment = v[:k], v[:aggregated_assessment] %>

            <tr>
              <td colspan="4">K<%= index %></td>
            </tr>

            <% k.each.with_index do |value, idx| %>
                <tr>
                    <% linguistic, _ = value %>
                    <% counter += 1 %>

                    <td> <%= counter %> </td>
                    <td> K<%= "#{index}#{idx + 1}" %> </td>
                    <td> <%= linguistic %> </td>
                    <% if idx == 0  %>
                      <td rowspan="<%= k.linguistic.size %>"><%= aggregated_assessment %></td>
                    <% end %>
                </tr>
            <% end %>
    <% end %>
    `;

    document.querySelector("#second_level_risk_results").innerHTML = `
        <% counter = 0 %>
        <% @aggr_reliability_assessment.each.with_index do |v, index| %>
            <% k, aggr_reliability_assessment = v[:k], v[:aggr_reliability_assessment] %>

            <tr>
              <td colspan="4">K<%= index %></td>
              <td><%= k.aggregated_assessment %></td>
            </tr>

            <% k.each.with_index do |value, idx| %>
                <tr>
                    <% linguistic, authenticity = value %>
                    <% counter += 1 %>

                    <td> <%= counter %> </td>
                    <td> K<%= "#{index}#{idx + 1}" %> </td>
                    <td> <%= linguistic %> </td>
                    <td> <%= authenticity %> </td>
                    <% if idx == 0  %>
                      <td rowspan="<%= k.linguistic.size %>"><%= aggr_reliability_assessment.round(2) %></td>
                    <% end %>
                </tr>
            <% end %>
    <% end %>
    `;

    document.querySelector("#third_level_risk_results").innerHTML = `
      <% @estimated_membership.each.with_index do |value, idx| %>
      <tr>
        <% x, z = value.first %>
          <td><%= "x#{idx} = #{x.round(1)}" %></td>
          <td><%= "z#{idx} = #{z.round(2)}" %></td>
        <% end %>
      </tr>
    `;
    document.querySelector("#fourth_level_risk_results").innerHTML = `
      <%= "Агрегована оцінка ризику: #{@aggregated_membership.round(2)}" %>
    `;

    document.querySelector("#final_level_risk_results").innerHTML = `
      <%= @security_level %>
    `;

    document.querySelector("#risk_results").style.display = "block";
}, 3000);